@import '../../../scss/variables';

.badge {
    align-self: center;
    padding: 0 0.45rem;
    font-size: 0.85em;
    line-height: 1.44rem;
    border-radius: 0.7rem;
    text-align: center;
    font-weight: 500;
    min-width: .53rem;
}

